<configuration>
	<packageSources>
		<add key="github" value="https://nuget.pkg.github.com/minimatech/index.json"/>
	</packageSources>
      <packageSourceCredentials>
        <github>
            <add key="Username" value="minima-ci" />
            <add key="ClearTextPassword" value="ghp_wjf27llmlutlclpwomuzehbrrsypkt1nsncm" />
        </github>
    </packageSourceCredentials>
</configuration>
