<configuration>
	<packageSources>
		<add key="github" value="https://nuget.pkg.github.com/MinimaDigital/index.json"/>
	</packageSources>
      <packageSourceCredentials>
        <github>
            <add key="Username" value="EmreKarahan" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>
